* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1503264116251-35a269479413")
    no-repeat center center/cover;
}

.calculator {
  background: rgba(8, 8, 8, 0.9);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.title {
  color: #eadcdc;
  font-weight: 600;
  margin-bottom: 15px;
}

#display {
  width: 100%;
  height: 60px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #333;
  font-size: 1.8rem;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  background: #eee;
  color: #333;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

button:hover {
  background: #dcdcdc;
}

button:active {
  transform: scale(0.95);
}

.equal {
  background: #4caf50;
  color: white;
}

.equal:hover {
  background: #45a049;
}

.zero {
  grid-column: span 2;
}
